// ====================================================================================================== //
// NORMALIZE //
// ====================================================================================================== //
@include h5bp-normalize;
@include h5bp-helpers;

// fonts
// +font-face("NAME", font-files("FILE.woff", "FILE.ttf", "FILE.otf", "FILE.svg"), "FILE.eot")
// ====================================================================================================== //
// BASE //
// ====================================================================================================== //
*:active,
*:hover,
*:focus {
  outline: 0 !important;
}

menu,
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EAEDF1;
}

table,
table td,
table th {
  border: 0;
}

table {
  width: 100%;
  background-color: $white;

  td,
  th {
    padding: 10px 20px;
  }
}

body,
html {
  min-width: 100%;
  min-height: 100%;
}

#main {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  @include container;
  
  .left {
    @include span(27 at 1 of 72);
  }

  .midright {
    @include span(42 at 31 of 72);
    @include last;

    .up-left {
      @include span(18 at 1 of 42);
    }
    .up-right {
      @include span(21 at 22 of 42);
    }

    .down-left {
      @include span(26 at 1 of 42);
    }
    .down-right {
      @include span(13 at 30 of 42);
    }

  }
}
