// ====================================================================================================== //
// MODULES //
// ====================================================================================================== //
.uploadstats {
  background-color: #FFF;
  text-align: center;
  padding: 44px;
  margin-top: 50px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  p { 
    color: $lightgrey;
    text-align: center;
    font-size: 13px;
  }

  span {
    color: $darkgrey;
    text-align: center;
    font-weight: regular;
    font-size: 24px;
  }

  .img-box {
    margin-bottom: 15px;
  }
}

h5 {
  text-transform: uppercase;
  color: $darkgrey;
  font-style: regular;
}

.social {
  background-color: #FFF;
  text-align: center;
  padding: 25px;
  border-radius: 7px;
  margin-bottom: 50px;

  h5 {
    text-transform: uppercase;
    color: $darkgrey;
    font-style: regular;
  }

  ul {
    height: 47px;
    text-align: center;
    display: inline-block;
  }
  
  li {
    list-style: none;
    float: left;
    margin: 7px;
  }

  a {
    width: 33px;
    height: 33px;
  }

  .sprite-fb {
    width: 32px;
    height: 32px;
    background: url(../img/layout/sprite-fb.png) 0 0;
    display: block;
  }

  .sprite-fb a:hover, a:active {
    width: 32px;
    height: 32px;
    background: url(../img/layout/sprite-fb.png) 0 -33px;
    display: block;
  }

  .sprite-tw {
    width: 32px;
    height: 32px;
    background: url(../img/layout/sprite-tw.png) 0 0;
    display: block;
  }

  .sprite-tw a:hover, a:active {
    width: 32px;
    height: 32px;
    background: url(../img/layout/sprite-tw.png) 0 -33px;
    display: block;
  }  

  .sprite-in {
    width: 32px;
    height: 32px;
    background: url(../img/layout/sprite-in.png) 0 0;
    display: block;
  }

  .sprite-in a:hover, a:active {
    width: 32px;
    height: 32px;
    background: url(../img/layout/sprite-in.png) 0 -33px;
    display: block;
  }  

  .sprite-go {
    width: 32px;
    height: 32px;
    background: url(../img/layout/sprite-go.png) 0 0;
    display: block;
  }

  .sprite-go a:hover, a:active {
    width: 32px;
    height: 32px;
    background: url(../img/layout/sprite-go.png) 0 -33px;
    display: block;
  }  

  .sprite-pi {
    width: 32px;
    height: 32px;
    background: url(../img/layout/sprite-pi.png) 0 0;
    display: block;
  }

  .sprite-pi a:hover, a:active {
    width: 32px;
    height: 32px;
    background: url(../img/layout/sprite-pi.png) 0 -33px;
    display: block;
  }  
}


.getstarted {
  background-color: #FFF;
  text-align: center;
  padding: 44px;
  border-radius: 7px;
  margin-bottom: 50px;

  p { 
    color: $lightgrey;
    text-align: center;
    font-size: 13px;
  }

  h5 {
    text-transform: uppercase;
    color: $darkgrey;
    font-style: regular;
  }

  span {
    color: $darkgrey;
    text-align: center;
    font-weight: regular;
    font-size: 24px;
  }

  .img-box {
    margin-bottom: 15px;
  }

  button {
    background-color: $red;
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 12px;
    margin-top: 20px;
    width: 100%;
  }

}

.contain {
  padding: 0;
  margin-bottom: 50px;
  width: 100%;
}

.box-red {
  background-color: $red;
  float: left;
  color: #FFF;
  font-size: 13px;
  line-height: 18px;
  width: 33%;
  text-align: center;
  padding: 15px 0;
  border-bottom-left-radius: 7px;

  p {
    padding: 0;
    margin: 0;
  }

  span {
    font-style: bold;
    font-size: 23px;
    line-height: 27px;
    padding: 0;
    margin: 0;
  }
}

.box-blue {
  background-color: $blue;
  float: left;
  color: #FFF;
  font-size: 13px;
  line-height: 18px;
  width: 33%;
  text-align: center;
  padding: 15px 0;

  p {
    padding: 0;
    margin: 0;
  }

  span {
    font-style: bold;
    font-size: 23px;
    line-height: 27px;
    padding: 0;
    margin: 0;
  }
}

.box-green {
  background-color: $green;
  float: left;
  color: #FFF;
  font-size: 13px;
  line-height: 18px;
  width: 34%;
  text-align: center;
  padding: 15px 0;
  border-bottom-right-radius: 7px;

  p {
    padding: 0;
    margin: 0;
  }

  span {
    font-style: bold;
    font-size: 23px;
    line-height: 27px;
    padding: 0;
    margin: 0;
  }

}

.video {
  background-image: url('../img/layout/video.png');
  border-radius: 7px;
  margin: 50px 0;
  width: 100%;
  height: 250px;
}

.form {
  background-color: #FFF;
  border-radius: 7px;
  margin: 50px 0;
  padding: 44px;
  color: $lightgrey;
  text-align: left;

  h5 {
    text-transform: uppercase;
    color: $darkgrey;
    font-style: regular;
    text-align: left;
    margin: 0;
    padding: 0 0 8px 0;
  }

  input {
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    color: $lightgrey;
    width: 100%;
    @include box-sizing(border-box);
  }

  textarea {
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    color: #c5c5c5;
    width: 100%;
    @include box-sizing(border-box);
    resize: none;
    max-height: 100px;
  }

  button {
    clear: both;
    background-color: $red;
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    @include box-sizing(border-box);
  }

}

.hugh {
  background-color: #FFF;
  text-align: left;
  padding: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  vertical-align: middle;

  p { 
    color: $lightgrey;
    text-align: left;
    font-size: 13px;
    margin: 0;
  }

  h5 {
    text-transform: uppercase;
    color: $darkgrey;
    font-style: regular;
    text-align: left;
    margin: 0;
  }

  .float {
    float: left;
    margin-right: 15px;
  }

  .test {
    vertical-align: middle;
    height: 52px;
    display: table-cell;
  }
}

.frame { 
  margin: 0 25px;
  text-align: center;

  p {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    line-height: 34px;
  }

  .float {
    float: left;
    margin: 0;
  }
}

.box-red1 {
  background-color: $red;
  float: left;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  width: 33%;
  padding: 15px 0;
  border-bottom-left-radius: 7px;

}

.box-blue1 {
  background-color: $blue;
  float: left;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  width: 33%;
  padding: 15px 0;


}

.box-green1 {
  background-color: $green;
  float: left;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  width: 34%;
  padding: 15px 0;
  border-bottom-right-radius: 7px;
}

.signin {
  background-color: #FFF;
  border-radius: 7px;
  margin: 50px 0;
  padding: 44px;
  color: $lightgrey;
  text-align: center;

  h5 {
    text-transform: uppercase;
    color: $darkgrey;
    font-style: regular;
    text-align: left;
    margin: 0;
    padding: 0 0 8px 0;
  }

  input {
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    color: $lightgrey;
    width: 100%;
    @include box-sizing(border-box);
  }

  button {
    clear: both;
    background-color: $red;
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    @include box-sizing(border-box);
    margin-bottom: 30px;
  }

  a {
    font-size: 13px;
    color: $lightgrey;
  }
}


.temp {
  background-color: $red;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  margin-top: 50px;
  color: #FFF;
  text-align: center;
  width: 50%;
  padding: 0;
  @include box-sizing(border-box);

  p {
    font-size: 40px;
    float: left;
    line-height: 48px;
    vertical-align: middle;
    margin: 0;
    padding: 10px;
  }

  img {
    padding: 10px;
    margin: 0;
  }

}

.date {
  background-color: #FFF;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-bottom: 50px;
  color: $red;
  text-align: center;
  width: 50%;
  padding: 0;

  p {
    color: $red;
    font-size: 13px;
    padding: 15px 10px;
    margin: 0;
  }
}
// ====================================================================================================== //
// OVERRIDES //
// ====================================================================================================== //
