article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

@font-face {
  font-family: "proximanovaregular";
  src: url('../font/proximanova-regular.eot?1421238854');
  src: url('../font/proximanova-regular.eot?&1421238854#iefix') format('embedded-opentype'), url('../font/proximanova-regular.woff?1421238854') format('woff'), url('../font/proximanova-regular.ttf?1421238854') format('truetype'), url('../font/proximanova-regular.otf?1421238854') format('opentype'), url('../font/proximanova-regular.svg?1421238854') format('svg');
}
@font-face {
  font-family: "proximanovalight";
  src: url('../font/proximanova-light.eot?1421238854');
  src: url('../font/proximanova-light.eot?&1421238854#iefix') format('embedded-opentype'), url('../font/proximanova-light.woff?1421238854') format('woff'), url('../font/proximanova-light.ttf?1421238854') format('truetype'), url('../font/proximanova-light.otf?1421238854') format('opentype'), url('../font/proximanova-light.svg?1421238854') format('svg');
}
*:active,
*:hover,
*:focus {
  outline: 0 !important;
}

menu,
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EAEDF1;
}

table,
table td,
table th {
  border: 0;
}

table {
  width: 100%;
  background-color: white;
}
table td,
table th {
  padding: 10px 20px;
}

body,
html {
  min-width: 100%;
  min-height: 100%;
}

#main {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
#main:after {
  content: " ";
  display: block;
  clear: both;
}
#main .left {
  width: 37.5%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
}
#main .midright {
  width: 58.33333%;
  float: left;
  margin-left: 41.66667%;
  margin-right: -100%;
  float: right;
  margin-right: 0;
}
#main .midright .up-left {
  width: 42.85714%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
}
#main .midright .up-right {
  width: 50%;
  float: left;
  margin-left: 50%;
  margin-right: -100%;
}
#main .midright .down-left {
  width: 61.90476%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
}
#main .midright .down-right {
  width: 30.95238%;
  float: left;
  margin-left: 69.04762%;
  margin-right: -100%;
}

.contain {
  padding: 0;
  margin-bottom: 50px;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 1px 1px 1px #DEE1E5;
}

.video {
  font-family: "proximanovalight";
  background-color: #FFF;
  text-align: center;
  padding: 13% 11%;
  border-radius: 7px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 1px #DEE1E5;
  margin-top: 50px;
  max-height: 264px;
  padding: 0;
  overflow: hidden;
}

.form {
  font-family: "proximanovalight";
  background-color: #FFF;
  text-align: center;
  padding: 13% 11%;
  border-radius: 7px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 1px #DEE1E5;
  margin-top: 50px;
  color: #929292;
  text-align: left;
}
.form label {
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #575757;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
.form input {
  border: 1px solid #E6E6E6;
  margin: 10px 0 25px;
  border-radius: 5px;
  padding: 4%;
  line-height: 17px;
  font-family: "proximanovalight";
  font-size: 13px;
  color: #929292;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form textarea {
  border: 1px solid #E6E6E6;
  margin: 10px 0;
  border-radius: 5px;
  padding: 4%;
  font-family: "proximanovalight";
  font-size: 13px;
  line-height: 17px;
  color: #C5C5C5;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  max-height: 110px;
}
.form button {
  background-color: #dd5555;
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  padding: 12px;
  margin-top: 20px;
  width: 100%;
}
.form button:hover {
  background-color: #21b8c6;
}

.hugh {
  background-color: #FFF;
  text-align: left;
  padding: 25px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  vertical-align: middle;
}
.hugh p {
  font-family: "proximanovalight";
  color: #929292;
  text-align: left;
  font-size: 13px;
  margin: 0;
}
.hugh .title {
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #575757;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
.hugh .float {
  float: left;
  margin-right: 15px;
}
.hugh .test {
  vertical-align: middle;
  height: 52px;
  display: table-cell;
}

.frame {
  margin: 0 25px;
  text-align: center;
}
.frame p {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  line-height: 34px;
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
}
.frame .float {
  float: left;
  margin: 0;
}

.box-red1 {
  background-color: #dd5555;
  float: left;
  color: #FFF;
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  width: 33%;
  padding: 15px 0;
  border-bottom-left-radius: 7px;
}

.box-blue1 {
  background-color: #21b8c6;
  float: left;
  color: #FFF;
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  width: 33%;
  padding: 15px 0;
}

.box-green1 {
  background-color: #82ca9c;
  float: left;
  color: #FFF;
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  width: 34%;
  padding: 15px 0;
  border-bottom-right-radius: 7px;
}

.uploadstats {
  background-color: #FFF;
  text-align: center;
  padding: 13% 11% 0;
  margin-top: 50px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.uploadstats p {
  color: #929292;
  text-align: center;
  font-size: 13px;
  font-family: "proximanovalight";
}
.uploadstats span {
  color: #575757;
  text-align: center;
  font-weight: regular;
  font-size: 24px;
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
}
.uploadstats .title {
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #575757;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
.uploadstats .img-box {
  margin: 35px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 85%;
  min-width: 40%;
}

.title {
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #575757;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}

.social {
  font-family: "proximanovalight";
  background-color: #FFF;
  text-align: center;
  padding: 13% 11%;
  border-radius: 7px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 1px #DEE1E5;
}
.social .title {
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #575757;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
.social ul {
  min-height: 32px;
  text-align: center;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 15px 0 0;
}
.social li {
  list-style: none;
  margin: 4px;
  float: left;
  text-align: center;
  width: 100%;
}
.social a {
  width: 32px;
  height: 32px;
  text-align: center;
}
.social .sprite-fb {
  width: 32px;
  height: 32px;
  background: url("../img/layout/sprite-fb.png") 0 0;
  display: block;
}
.social .sprite-fb a:hover,
.social a:active {
  width: 32px;
  height: 32px;
  background: url("../img/layout/sprite-fb.png") 0 -33px;
  display: block;
}
.social .sprite-tw {
  width: 32px;
  height: 32px;
  background: url("../img/layout/sprite-tw.png") 0 0;
  display: block;
}
.social .sprite-tw a:hover,
.social a:active {
  width: 32px;
  height: 32px;
  background: url("../img/layout/sprite-tw.png") 0 -33px;
  display: block;
}
.social .sprite-in {
  width: 32px;
  height: 32px;
  background: url("../img/layout/sprite-in.png") 0 0;
  display: block;
}
.social .sprite-in a:hover,
.social a:active {
  width: 32px;
  height: 32px;
  background: url("../img/layout/sprite-in.png") 0 -33px;
  display: block;
}
.social .sprite-go {
  width: 32px;
  height: 32px;
  background: url("../img/layout/sprite-go.png") 0 0;
  display: block;
}
.social .sprite-go a:hover,
.social a:active {
  width: 32px;
  height: 32px;
  background: url("../img/layout/sprite-go.png") 0 -33px;
  display: block;
}
.social .sprite-pi {
  width: 32px;
  height: 32px;
  background: url("../img/layout/sprite-pi.png") 0 0;
  display: block;
}
.social .sprite-pi a:hover,
.social a:active {
  width: 32px;
  height: 32px;
  background: url("../img/layout/sprite-pi.png") 0 -33px;
  display: block;
}

.signin {
  font-family: "proximanovalight";
  background-color: #FFF;
  text-align: center;
  padding: 13% 11%;
  border-radius: 7px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 1px #DEE1E5;
  margin-top: 50px;
  color: #929292;
}
.signin label {
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #575757;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
.signin input {
  border: 1px solid #E6E6E6;
  margin: 20px 0 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  color: #929292;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "proximanovaregular";
}
.signin .username {
  background: url("../img/layout/username.png") 0 0 no-repeat;
  text-indent: 33px;
  vertical-align: middle;
}
.signin .password {
  background: url("../img/layout/password.png") 0 0 no-repeat;
  text-indent: 33px;
  vertical-align: middle;
}
.signin button {
  background-color: #dd5555;
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  padding: 12px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 25px;
}
.signin button:hover {
  background-color: #21b8c6;
}
.signin a {
  font-size: 13px;
  color: #929292;
  font-family: "proximanovalight";
}
.signin a:hover,
.signin a:active {
  color: #dd5555;
}

.city {
  max-width: 100%;
  max-height: 161px;
}
.city .pin {
  float: left;
  position: absolute;
  margin: 125px 15px 0 125px;
  z-index: 3;
  max-height: 24px;
  width: 110px;
}
.city .pin img {
  float: left;
  margin-right: 7px;
}
.city .pin p {
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  margin: 0;
  padding: 5px 0 0;
  line-height: 24px;
  font-family: "proximanovalight";
}
.city .below {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.city .above {
  float: left;
  position: absolute;
  margin: 105px 15px 0;
  z-index: 2;
}

.location {
  background-color: #FFF;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 15px 15px 15px 125px;
}
.location span {
  text-transform: uppercase;
  color: #575757;
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-family: "proximanovaregular";
  letter-spacing: 0,04em;
}
.location p {
  text-transform: uppercase;
  color: #929292;
  font-size: 13px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  font-family: "proximanovalight";
}

.box-red {
  background-color: #dd5555;
  float: left;
  color: #FFF;
  font-size: 13px;
  line-height: 18px;
  width: 33%;
  text-align: center;
  padding: 15px 0;
}
.box-red p {
  padding: 0;
  margin: 0;
  font-family: "proximanovalight";
}
.box-red span {
  font-size: 23px;
  line-height: 27px;
  padding: 0;
  margin: 0;
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
}

.box-blue {
  background-color: #21b8c6;
  float: left;
  color: #FFF;
  font-size: 13px;
  line-height: 18px;
  width: 33%;
  text-align: center;
  padding: 15px 0;
}
.box-blue p {
  padding: 0;
  margin: 0;
  font-family: "proximanovalight";
}
.box-blue span {
  font-size: 23px;
  line-height: 27px;
  padding: 0;
  margin: 0;
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
}

.box-green {
  background-color: #82ca9c;
  float: left;
  color: #FFF;
  font-size: 13px;
  line-height: 18px;
  width: 33%;
  text-align: center;
  padding: 15px 0;
  width: 34%;
}
.box-green p {
  padding: 0;
  margin: 0;
  font-family: "proximanovalight";
}
.box-green span {
  font-size: 23px;
  line-height: 27px;
  padding: 0;
  margin: 0;
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
}

.getstarted {
  font-family: "proximanovalight";
  background-color: #FFF;
  text-align: center;
  padding: 13% 11%;
  border-radius: 7px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 1px #DEE1E5;
}
.getstarted p {
  color: #929292;
  text-align: center;
  font-size: 13px;
  font-family: "proximanovalight";
}
.getstarted .title {
  font-family: "proximanovaregular";
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #575757;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
.getstarted .img-box {
  margin-bottom: 30px;
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.getstarted button {
  background-color: #dd5555;
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  padding: 12px;
  margin-top: 20px;
  width: 100%;
}
.getstarted button:hover {
  background-color: #21b8c6;
}

.temp {
  background-color: #dd5555;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  color: #FFF;
  text-align: center;
  padding: 10px;
}
.temp .frame2 {
  margin: 10px 15px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.temp .frame2 p {
  padding: 0;
  margin: 5px 0 0;
  font-size: 40px;
  line-height: 48px;
  float: left;
  font-family: "proximanovaregular";
  letter-spacing: 0,04em;
}
.temp .frame2 img {
  margin: 0;
  padding-left: 10px;
}

.date {
  background-color: #FFF;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  color: #dd5555;
  text-align: center;
  padding: 15px;
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.date p {
  color: #dd5555;
  font-size: 13px;
  padding: 0;
  margin: 0;
  font-family: "proximanovalight";
}

.w1 {
  width: 1.38889%;
  float: left;
}

.w2 {
  width: 2.77778%;
  float: left;
}

.w3 {
  width: 4.16667%;
  float: left;
}

.w4 {
  width: 5.55556%;
  float: left;
}

.w5 {
  width: 6.94444%;
  float: left;
}

.w6 {
  width: 8.33333%;
  float: left;
}

.w7 {
  width: 9.72222%;
  float: left;
}

.w8 {
  width: 11.11111%;
  float: left;
}

.w9 {
  width: 12.5%;
  float: left;
}

.w10 {
  width: 13.88889%;
  float: left;
}

.w11 {
  width: 15.27778%;
  float: left;
}

.w12 {
  width: 16.66667%;
  float: left;
}

.w13 {
  width: 18.05556%;
  float: left;
}

.w14 {
  width: 19.44444%;
  float: left;
}

.w15 {
  width: 20.83333%;
  float: left;
}

.w16 {
  width: 22.22222%;
  float: left;
}

.w17 {
  width: 23.61111%;
  float: left;
}

.w18 {
  width: 25%;
  float: left;
}

.w19 {
  width: 26.38889%;
  float: left;
}

.w20 {
  width: 27.77778%;
  float: left;
}

.w21 {
  width: 29.16667%;
  float: left;
}

.w22 {
  width: 30.55556%;
  float: left;
}

.w23 {
  width: 31.94444%;
  float: left;
}

.w24 {
  width: 33.33333%;
  float: left;
}

.w25 {
  width: 34.72222%;
  float: left;
}

.w26 {
  width: 36.11111%;
  float: left;
}

.w27 {
  width: 37.5%;
  float: left;
}

.w28 {
  width: 38.88889%;
  float: left;
}

.w29 {
  width: 40.27778%;
  float: left;
}

.w30 {
  width: 41.66667%;
  float: left;
}

.w31 {
  width: 43.05556%;
  float: left;
}

.w32 {
  width: 44.44444%;
  float: left;
}

.w33 {
  width: 45.83333%;
  float: left;
}

.w34 {
  width: 47.22222%;
  float: left;
}

.w35 {
  width: 48.61111%;
  float: left;
}

.w36 {
  width: 50%;
  float: left;
}

.w37 {
  width: 51.38889%;
  float: left;
}

.w38 {
  width: 52.77778%;
  float: left;
}

.w39 {
  width: 54.16667%;
  float: left;
}

.w40 {
  width: 55.55556%;
  float: left;
}

.w41 {
  width: 56.94444%;
  float: left;
}

.w42 {
  width: 58.33333%;
  float: left;
}

.w43 {
  width: 59.72222%;
  float: left;
}

.w44 {
  width: 61.11111%;
  float: left;
}

.w45 {
  width: 62.5%;
  float: left;
}

.w46 {
  width: 63.88889%;
  float: left;
}

.w47 {
  width: 65.27778%;
  float: left;
}

.w48 {
  width: 66.66667%;
  float: left;
}

.w49 {
  width: 68.05556%;
  float: left;
}

.w50 {
  width: 69.44444%;
  float: left;
}

.w51 {
  width: 70.83333%;
  float: left;
}

.w52 {
  width: 72.22222%;
  float: left;
}

.w53 {
  width: 73.61111%;
  float: left;
}

.w54 {
  width: 75%;
  float: left;
}

.w55 {
  width: 76.38889%;
  float: left;
}

.w56 {
  width: 77.77778%;
  float: left;
}

.w57 {
  width: 79.16667%;
  float: left;
}

.w58 {
  width: 80.55556%;
  float: left;
}

.w59 {
  width: 81.94444%;
  float: left;
}

.w60 {
  width: 83.33333%;
  float: left;
}

.w61 {
  width: 84.72222%;
  float: left;
}

.w62 {
  width: 86.11111%;
  float: left;
}

.w63 {
  width: 87.5%;
  float: left;
}

.w64 {
  width: 88.88889%;
  float: left;
}

.w65 {
  width: 90.27778%;
  float: left;
}

.w66 {
  width: 91.66667%;
  float: left;
}

.w67 {
  width: 93.05556%;
  float: left;
}

.w68 {
  width: 94.44444%;
  float: left;
}

.w69 {
  width: 95.83333%;
  float: left;
}

.w70 {
  width: 97.22222%;
  float: left;
}

.w71 {
  width: 98.61111%;
  float: left;
}

.w72 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.latest {
  float: right;
  margin-right: 0;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.pie-clearfix {
  *zoom: 1;
}
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*# sourceMappingURL=styles.css.map */
